/**
 * COMPONENTS - WRAPPER
 */

.c-wrapper {
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}
