<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>body{background:rgba(0,0,0,.95);}</style>
</head>
<body>
    <div class="u-sr-only">
        <a href="#content" aria-label="Skip to main content" title="Skip to main content" tabindex="0">Skip to content</a>
        <a href="#footer" aria-label="Skip to footer" title="Skip to footer" tabindex="0">Skip to footer</a>
    </div>
    <div class="c-wrapper" id="root"></div>
</body>
</html>
