/**
 *  SETTINGS - COLOURS
 *
 *  Primary         :   #546e7a     rgb(84,110,122)
 *  Primary light   :   #819ca9     rgb(129,156,169)
 *  Primary dark    :   #29434e     rgb(41,67,78)
 *
 *  Secondary       :   #ffc400     rgb(255,196,0)
 *  Secondary light :   #fff64f     rgb(255,246,79)
 *  Secondary dark  :   #c79400     rgb(199,148,0)
 */

$colour-primary: #546e7a;
$colour-primary-light: #819ca9;
$colour-primary-dark: #29434e;

$colour-secondary: #ffc400;
$colour-secondary-light: #fff64f;
$colour-secondary-dark: #c79400;

$colour-white: #fff;
$colour-black: #000;
