/**
 * ELEMENTS - LINKS
 */

a {
    border-bottom: 1px dashed rgba(255, 255, 255, .5);
    color: inherit;
    outline: none;
    padding-bottom: 3px;
    text-decoration: none;
}

@media (min-width: 1024px) {

    a {
        padding-bottom: 1px;
        position: relative;
        z-index: 0;
    }

    a:hover:before,
    a:focus:before {
        width: 95%;
    }

    a:before {
        background-color: $colour-secondary-light;
        bottom: -1px;
        content: '';
        height: .5em;
        margin-left: -3px;
        position: absolute;
        transition: width .25s ease-in-out;
        width: 0;
        z-index: -1;
    }
}
